---
import BaseSection from "../layouts/base_section.astro";
import { ChallanGraphView } from "../previews/challan_graph_view";
import { Image } from "astro:assets";
import graph_view from "../assets/graph_view.png";
import graph_1 from "../assets/graph_1.svg";
import graph_2 from "../assets/graph_2.svg";
import graph_3 from "../assets/graph_3.svg";
import graph_4 from "../assets/graph_4.svg";

const features = [
  {
    icon: graph_1,
    title: "Refined production clarity",
    subtitle:
      "Gain comprehensive understanding of all your processes with our visualizations.",
  },
  {
    icon: graph_2,
    title: "Instant challan insights",
    subtitle:
      "Hover on challans to get quick insights like received and issued items",
  },
  {
    icon: graph_3,
    title: "Effortless Exploration",
    subtitle: "Seamlessly move through production stages with a simple click.",
  },
  {
    icon: graph_4,
    title: "Move processes ahead in the flow",
    subtitle: "Create a new challan using the graph to auto-fill forms.",
  },
];
---

<BaseSection
  class="flex flex-col-reverse lg:flex-row items-center justify-center gap-y-12 gap-x-8 bg-[#FEFEFE]"
>
  <div class="hidden sm:block w-full h-[90vh] lg:w-1/2">
    <ChallanGraphView client:media="(min-width: 640px)" />
  </div>
  <div class="block sm:hidden w-full lg:w-1/2">
    <Image src={graph_view} alt="Graph View" />
  </div>
  <div class="w-full lg:w-1/2">
    <div
      class="flex flex-col items-center lg:items-start gap-y-5 text-center lg:text-left"
    >
      <h2 class="text-2xl sm:text-4xl md:text-5xl tracking-tight">
        Bird's-eye view of your manufacturing
      </h2>
      <p
        class="max-w-xs sm:max-w-none lg:max-w-xs text-sm md:text-base text-slate-500"
      >
        An interactive graph view to visualize your processes and gain quick
        insights.
      </p>
    </div>
    <div class="mt-10 p-4 sm:mt-20 grid sm:grid-cols-2 gap-5">
      {
        features.map((feature) => (
          <div class="flex items-start gap-5 max-w-md">
            <Image alt={feature.title} src={feature.icon} class="w-8 h-8" />
            <div>
              <h6 class="text-sm md:text-base text-black">{feature.title}</h6>
              <p class="mt-2 text-xs md:text-sm text-slate-500">
                {feature.subtitle}
              </p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</BaseSection>
